<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>A new moderator has signed up.<br /><br /><strong>User Response:</strong> <%= @user.info['why_moderator'] %><br /><br />Resume: <a href="google.com" target="_blank" rel="noopener"><%= @user.resume.url %></a></p>
  </body>
</html>
