.row
  = render '/components/post_form'
  - if user_signed_in?
    %br/
  %br/
  - for @p in @posts
    = render partial: '/pages/post', locals: { post: @p }
  .panel.panel-default.post-panel
    .panel-body.row
      .col-sm-12
        %center
          %img{:height => "25px", :src => "/icon_colored.png", class: 'footer_icon'}/
          %a{:href => "#top"}
            %p.opacity:{:class => ".7;"}
              Back to top
              %span.glyphicon.glyphicon-arrow-up{"aria-hidden" => "true"}
