.row
  = render '/components/post_form'
  %br/
  %br/
  - current_user.posts.each do |post|
    .panel.panel-default.post-panel
      .panel-body.row
        .col-sm-1
          %img.rounded-img{:height => "50px", :src => "/avatar.png", :width => "50px"}/
        .col-sm-11
          %p.post-title
            %span.post-owner
              %a{:href => "/user/#{User.find(post.user_id).username}"}= User.find(post.user_id).username
            %span.post-creation
              \- #{post.created_at.to_formatted_s(:short)}
          %p.post-content= putter(post.content).html_safe
        .col-sm-12
          %p.post-links
            %span.glyphicon.glyphicon-comment.g-links{"aria-hidden" => "true"}
            %span.glyphicon.glyphicon-retweet.g-links{"aria-hidden" => "true"}
            %span.glyphicon.glyphicon-heart.g-links{"aria-hidden" => "true"}
            %span.glyphicon.glyphicon-option-horizontal.g-links{"aria-hidden" => "true"}
            / %a{:href => ""} View conversation
  .panel.panel-default.post-panel
    .panel-body.row
      .col-sm-12
        %center
          %img.footer_icon{:src => "/icon_colored.png"}/
          %a{:href => "#top"}
            %p.opacity:{:class => ".7;"}
              Back to top
              %span.glyphicon.glyphicon-arrow-up{"aria-hidden" => "true"}
