.row
  = render '/components/post_form'
  %br/
  %br/
  - current_user.posts.each do |post|
    = render partial: '/pages/post', locals: { post: post }
  .panel.panel-default.post-panel
    .panel-body.row
      .col-sm-12
        %center
          %img.footer_icon{:src => "/icon_colored.png"}/
          %a{:href => "#top"}
            %p.opacity:{:class => ".7;"}
              Back to top
              %span.glyphicon.glyphicon-arrow-up{"aria-hidden" => "true"}
