/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require atwho
 *= require crypto_graphs
 *= require common
 *= require select2.min
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// .alert {
//     background-color: #e65151;
//     color: white;
// }

// .notice {
//     display: -webkit-flex;
//     display: flex;
//     -webkit-flex-wrap: wrap;
//     flex-wrap: wrap;
//     -webkit-align-content: center;
//     align-content: center;
// }

body {
    background-color: rgba(212, 216, 212, 0.25);
}

// #content-width {
//     margin-left: 8%;
//     margin-right: 8%;
// }

.rounded-img {
    border-radius: 5%;
}
.navbar {
    background-color: #2B374C;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.white-pannel {
    background-color: white;
    margin-top: 2rem;
}

.login-panel {
    margin-top: 0.5rem;
    a {
        color: grey;
        text-decoration:none;
    }
    a:hover {
        color: #00B0FF;
    }
}

.navbar-right > li.signup {
    padding-top: 0.8rem;
    a {
        color: white;
        text-decoration:none;
    }

    button {
        border-radius: 17px;
        border: 0;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-size: 1.4rem;
        min-height: 34px;
        outline: 0;
        text-align: center;
        transition: .25s ease-in-out;
        padding: 0 12px;
        background-color: #00B0FF;
    }
    button:hover {
        background-color: #2b5ba8;
    }
}

.signup {
    a {
        color: white;
        text-decoration:none;
    }

    button {
        border-radius: 17px;
        border: 0;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-size: 1.4rem;
        min-height: 34px;
        outline: 0;
        text-align: center;
        transition: .25s ease-in-out;
        padding: 0 12px;
        background-color: #00B0FF;
    }
    button:hover {
        background-color: #2b5ba8;
    }
}

.navbar-right > li.signin {
    padding-top: 6px;
    padding-right: 10px;
    a {
        color: white;
        text-decoration:none;
    }
    button {
        align-items: center;
        background-color: transparent;
        color: rgb(255, 255, 255);
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: center;
        min-height: 36px;
        min-width: 50px;
        position: relative;
        text-align: center;
        white-space: nowrap;
        border-radius: 9px;
        border-width: 0px;
        border-style: initial;
        border-color: initial;
        border-image: initial;
        outline: 0px;
        text-decoration: none;
        transition: background-color 125ms ease-in-out, color 125ms ease-in-out;
    }
    button:hover {
        background-color: white;

        a, .fa {
            color: #2F364E;
        }
    }
}

.navbar-nav {
    color: white;
}
.navbar-brand {
    position: absolute;
    left: 50%;
    margin-right: 25px !important;
    display: block;
}
.navbar-default {
    border: none;
}
.post-panel {
    margin-top: -21px;
}
.post-title {
    text-align: left;
    margin-left: 15px;
}
.post-content {
    text-align: left;
    margin-left: 15px;
}
.post-links {
    text-align: left;
}
.post-owner {
    color: black;
    font-weight: bold;
}
.post-creation {
    opacity: 0.7;
}
.g-links {
    opacity: 0.4;
    font-size: 120%;
    margin-right: 75px;
}
.post-form-panel {
    margin-bottom: -21px;
}
.panel-image img.panel-image-preview {
    width: 100%;
    border-radius: 4px 4px 0px 0px;
}
.panel-heading ~ .panel-image img.panel-image-preview {
    border-radius: 0px;
}
.panel-image ~ .panel-body, .panel-image.hide-panel-body ~ .panel-body {
    overflow: hidden;
}
.panel-image ~ .panel-footer a {
    padding: 0px 10px;
    font-size: 1.3em;
    color: rgb(100, 100, 100);
}
.panel-image.hide-panel-body ~ .panel-body {
    height: 0px;
    padding: 0px;
}
.panel-footer {
    background-color: white;
}
.profile-banner {
    width: 100%;
    height: 500px;
    margin-top: -21px;
}

.margin-top-1 {
    margin-top: 0.5rem;
}


// #crypto_select {
//   padding-top: 5px;
//   margin-left: 40%
// }
