#nav-search {
  padding-right: 10px;
}

#big-logo-brand {
  width: 150px;
  height: 150px;
}

.brand {
    position: absolute;
    left: 55%;
    margin-left: -50px !important;  /* 50% of your logo width */
    display: block;
    padding-top: 10px;
}

#nav-search {
  padding-top: 15px;
}

#search_field {
  color: black;
}

.footer_icon {
  height: 20px;
  width: 28px;
}

// p {
//   img {
//     max-width: 100%;
//     max-height: 200px;
//    }
// }
