.actions .btn-primary {
  border-radius: 17px;
  background-color: #00B0FF;
  border: none;
}
.add-sidebar {
  background-color: white;
  color: grey;
  margin-top: 3rem;
  height: 20rem;
  text-align: center;
}
.signup-links {
  margin-top: 7rem;
  padding-right: 0px;
}
.signup-links a {
  color: #3d3737;
  text-decoration: none;
  font-weight: bold;
}
.trending-tags {
  color: black;
  padding-right: 1rem;
}
.red {
  color: red;
}
.green {
  color: green;
}
.value {
  padding: 0.3rem;
}

.display-inline {
  display: inline-flex;
}
.divider {
  font-size: 3rem;
  font-weight: bold;
}
.add {
  width: 50%;
  background-color: white;
  color: grey;
  margin-top: 3rem;
  height: 8rem;
}
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}
.search-background {
  color: white;
  background-color: #36405F;
  height: 17rem;
  a {
    color: white;
    text-decoration: none;
  }
}
.search-field-icon {
  padding-left: 1rem;
  color: #bdbec2;
  font-size: 1.75rem;
  position: absolute;
  line-height: 38px;
  text-decoration: none;
}

.search-background form {
  margin-left: 5rem;
}

input#search_field {
  outline: none;
  border: none;
  border-radius: 20px;
  height: 38px;
  width: 100%;
  color: grey;
  padding-left: 3.2rem;
}
body {
    -webkit-background-size: cover;
    -moz-background-size: cover; /* cover the whole html element. */
    -o-background-size: cover;
    background-size: cover;
}
h1 {
    color: white;
    font-weight: bold;
}

// Ticker CSS Starts Here -----------------------------------------------------

* { box-sizing: border-box; }
$duration: 10s;

.ticker:hover {
  animation-play-state: paused;
}

.text-small {
  font-size: 1rem;
}

.text-medium {
  font-size: 1.5rem;
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.ticker-wrap {

  bottom: 0;
  width: 100%;
  overflow: hidden;
  height: 4rem;
  background-color: rgba(45, 42, 77, 0.9);
  padding-left: 100%;
  box-sizing: content-box;

  .ticker {

    display: inline-block;
    height: 4rem;
    line-height: 4rem;
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;

    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
   -webkit-animation-name: ticker;
           animation-name: ticker;
    -webkit-animation-duration: $duration;
            animation-duration: $duration;

    &__item {

      display: inline-block;

      padding: 0 2rem;
      font-size: 2rem;
      color: white;

    }

  }

}
